<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrainingPractice_03.Properties.Settings.GasStationConnectionString"
            connectionString="Data Source=LAPTOP-VJAV0JCF;Initial Catalog=GasStation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>